# intermediate / autogen
*_test_log
*.pdf
*.la
*.lo
*.o
*.bak
.deps
.libs
Makefile
Makefile.in
stamp-h1

/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/lt*.m4
/missing
/revision
/ylwrap
/test-driver
/tests/unit/*.log
/tests/load/*.log

/configure_flags.env

N4L

# tags
TAGS
tags
cscope.*

# vim
*~
.*.swp
.*.swo

# emacs
*~
\#*#
.dir-locals.el
/contrib/*.elc

# eclipse
.cproject
.project
.settings

# qt-creator
/core.config
/core.creator
/core.creator.user
/core.files
/core.includes
*.autosave

# Mac Finder
.DS_Store
stories
conceptualize

